:root.theme-dark {

  --title-color: #db00ff;
  --section-title-color: #ff0070;
  --font-family: "IBM Plex Mono", monospace;
  --bg-color: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --subtitle-color: #000028;
  --border-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --menu-color-hover: rgba(255, 0, 112, 0.40);

}
