/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --subtitle-color: #353430;
  --text-color: #353430;
  --section-title-color: #353430;
  --border-color: #353430;
  --section-article-text: #353430;
  --title-color: #ffc2e6;
  --bg-image: url(../images/cover-image-light.png);
  --menu-color-hover: var(--color-black, #35343040);
  
  .page {
    background-image: var(--bg-image);
    background-color: #fff1f7;
  }

   .header__rec {
    display: none; /* Скрыть REC в светлой теме */
  }

}
