/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --cover-image: url("../images/cover-image-light.png");
  --accent-color: #FF8DCB;
  --menu-color: #353430;
  --menu-color-hover: rgba(50, 49, 45, 0.40);
  --title-color: #FFC2E6;
  --text-title-color: #353430;
  --main-text-color: #353430;
  --bg-color: #FFF1F7;
  --section-title-color: #353430;
}

.page.theme-light {
  background-image: url("../images/cover-image-light.png");
}

/* Скрываем  REC */
.theme-light .header__rec {
  display: none;
}

.theme-light .header__theme-menu-button {
  color: var(--menu-color);
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}


.theme-light .header::before,
.theme-light.footer::before {
  border-block-end:1px solid var(--menu-color) ;
  border-inline-start:1px solid var(--menu-color) ;
}


.theme-light .header::after,
.theme-light .footer::after {
  border-block-start:1px solid var(--menu-color) ;
  border-inline-end:1px solid var(--menu-color) ;
}
