.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: 'IBM Plex mono', monospace;
  font-size: 18px;
  font-weight: 400;
}

/* шапка */

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  width: 100%;
  /* margin-block-end: 40px; */
  padding: 10px;
  min-block-size: 668px;
  height: 100vh;
}

.header__theme-menu {
  /* justify-self: end; */
  /* этот падинг добавляется самому куску сетки - в итоге 10 (это от хэдера)+10 (тут)+ 55 маргин = 75 */
  padding: 10px 0px;
  margin-block-start: 55px;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  /* именно это свойство отодвинуло элементы в другой край */
  align-items: flex-end;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  align-self: center;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
}

.header__text {
  justify-self: end;
  align-self: center;
  /* ширина может быть любой, но не больше 100% от родителя */
  max-width: 100%;
  font-weight: 700;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  padding: 3px 13px;
  border: none;
  background: transparent;
  cursor: pointer;
  text-transform: lowercase;
  color: var(--border-color);
}

/* эффекты кнопок */

.header__theme-menu-button:hover {
  /* !!!!!! ::::ВОЗМОЖНО НУЖНО ПРОСТО УМЕНЬШАТЬ ПРОЗРАЧНОСТЬ */
  outline: 1px solid var(--menu-color-hover, #ff007040);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--border-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--border-color);
  pointer-events: none;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 19px;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  gap: 8px;
}

/*
.header__rec {
  top: 20px;
  right: 29px;
} 
*/

.header__rec::before {
  content: "REC";
}

.header__rec::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

/* Уголки*/

.title-decor {
  background-color: var(--accent-color);
  color: var(--subtitle-color);
}

.ygol::after {
  content: "";
  position: absolute;
  border-inline-end: 1px solid var(--border-color);
  border-block-start: 1px solid var(--border-color);
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
}

.ygol::before {
  content: "";
  position: absolute;
  border-inline-start: 1px solid var(--border-color);
  border-block-end: 1px solid var(--border-color);
  bottom: 10px;
  width: 25px;
  height: 25px;
  left: 10px;
}

/* Основной контент*/

.main {
  padding: 0px 10px;
  margin-top: 40px;
}

/* общие стилили и цвета*/
.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.content__title {
  color: var(--section-title-color);
}

.article__title {
  font-weight: 700;
  font-size: 18px;
  color: var(--subtitle-color);
  background-color: var(--accent-color);
}

/* Ссылки */

.link {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  border-bottom: 1px solid transparent;
}

.link:hover {
  border-bottom-color: var(--text-color);
}

.link:focus {
  outline: 1px solid var(--text-color);
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 1px;
}

/* Карточки  */

/* используем грид чтобы потом его модифицировать */
.article {
  display: grid;
  gap: 10px;
}

.article__text {
  line-height: 130%;
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
}

/* в третьей секции расстояние между артиклями - 20*/
.article__list {
  display: grid;
  gap: 20px;
}

/* третья - заголовок для артиклей - тоньше */
.third .article__title {
  font-weight: 400;
}

/* Контейнеры секций у каждого из них еть доп класс*/
.section__content {
  display: grid;
  gap: 20px;
  grid-template-columns: auto;
}

/* отступы внизу у каждой секции*/
.first {
  /* чтобы идеально нужно 52 */
  margin-block-end: 52px;
}

.second {
  margin-block-end: 50px;
}

.third {
  margin-block-end: 52px;
}

/* контейнеры внутри секций - коробки для артиклей 1ая и 2ая карточка*/
.first__container,
.second__container {
  display: grid;
  gap: 20px;
}

/* Отступы между карточками в первой секции */
/* .first__container .article {
  margin-block-end: 20px;
} */

/* супер заголовок в третьей секции */
.third__title {
  margin-block-end: 20px;
}

/* верия 3 */

.gallery__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 10px;
}

.gallery__grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery__image {
  width: 100%;
  height: auto;
}

.dark-title {
  color: var(--subtitle-color, #000028);
  background-color: var(--accent-color, #ff0070);
  max-width: none;
}

/* Футер */

.footer {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 20px;
  min-height: 668px;
  height: 100vh;
  margin-block-start: 40px;
  justify-content: center;
  align-items: center;
}

.footer__title {
  align-self: center;
  font-weight: 700;
  color: var(--title-color, #db00ff);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
}

/* Планшет (768px) */
@media (width >= 768px) {
  .main {
    padding: 0px 20px;
  }

  .header {
    margin-block-end: 60px;
    padding: 20px;
  }

  .header__theme-menu {
    justify-self: end;
    margin-block-start: 167px;
    padding: 0;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 13px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -3%;
  }

  .header__text {
    max-width: 364px;
  }

  /* уголки отодвинуты на 20 пикселнй */

  .ygol::after {
    top: 20px;
    right: 20px;
  }

  .ygol::before {
    bottom: 20px;
    left: 20px;
  }

  .header__rec {
    top: 20px;
    right: 29px;
  }

  /* на все секции положим в грид контейнер и вторая часть должна быть в два раза шире */
  .section__content {
    grid-template-columns: minmax(236px, 1fr) 2fr;
    gap: 20px;
  }

  /* Первая секция отступ для низа  и расположение текста по колонкам */
  .first {
    margin-block-end: 80px;
  }

  .first .content__title {
    max-width: 230px;
    grid-column: 1;
  }

  .first__container {
    grid-column: 2;
  }

  /* Вторая секция */
  .second {
    margin-block-end: 80px;
    grid-template-columns: auto;  /* вот так можно переопределять гриды */
  }

  .second .content__title {
    max-width: 236px;
  }

  /* это контейнер со статьями */
  /* .second__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  } */

  .second .article {
    width: 100%;
    /* flex: 1 0 auto; */
  }

  /* Третья секция */
  .third {
    margin-block-end: 80px;
  }

  /* заголовок слева и он сделан под макет */
  .third .content__title {
    max-width: 230px;
    grid-column: 1; /* первая строка и первая колонка */
    grid-row: 1;
  }

  /* нужно было както поймать и тот самый доп. заголовок который сделан div  */
  .third > div {
    grid-column: 2;
    grid-row: 1; /* та же строка но вторая колонка */
    display: grid;
    gap: 20px;
  }

  /* у доп заголовка отступ в 20 пикс до текстов, но он уже был определён в мобильной версии а тут получается ещё 20 пикселей из-за грид сетки потому в сумме бы получилось 40 */
  .third__title {
    margin-block-end: 0px;
  }

  /* Список внутри правого блока */
  .third .article__list {
    display: grid;
    gap: 20px;
  }

  .gallery__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
  }

  .gallery__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .gallery__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .footer {
    margin-block-start: 60px;
    padding: 262px 10px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* Десктоп  */
@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__title {
    margin-left: -2%;
  }

  .header__text {
    max-width: 50%;
  }

  .section__content {
    grid-template-columns: minmax(236px, 1fr) 2fr;
  }

  .article__text {
    width: 100%;
    max-width: 100%;
  }

  .first {
    gap: 13px; /* gap переобозначен для десктопа чтобы хотябы заголовки встали на место раз текст не хочет*/
  }

  .first .content__title {
    max-width: 100%;
    width: 100%;
  }

  /* вторая */
  .second {
    display: grid;
    grid-template-columns: 1fr; /* Заголовок занимает всю ширину */
    margin-block-end: 80px;
  }

  .second .content__title {
    max-width: 315px; /* Ограничивает ширину */
    width: auto;
    grid-column: 1 / -1; /* Растянуть на все колонки */
    text-align: left;
    /* margin-bottom: 20px; */
  }

  /* Контейнер карточек - под заголовком, тоже на всю ширину */
  .second__container {
    grid-column: 1 / -1; /* Растянуть на все колонки */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Три колонки статей */
    gap: 20px;
  }

  /* Сами артиклы */
  .second .article {
    display: flex;
    flex-direction: column;
    height: 100%; /* Чтобы все артиклы были одинаковой высоты */
  }

  /* третья */

  .third {
    margin-block-end: 80px;
    gap: 11px;
  }

  .third .content__title {
    grid-column: 1;
    max-width: none;
  }

  .third > div {
    grid-column: 2;
  }

  .article__list {
    display: flex;
    flex-direction: column; /* Вертикальный список */
    gap: 20px;
  }

  .footer {
    margin-block-start: 62px;
  }
}
